/* Style the header with a green background and some padding */
.header {
  overflow: hidden;
  background-color: #74bb29;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color:#185db8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #21a30d;
  color: rgb(8, 72, 182);
}

/* Style the active/current link*/
.header a.active {
  background-color: rgb(235, 239, 240);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
body {
  background-color: #74bb21;
}

h1 {
  color: #185db8;
  text-align: center;
}

h2{
  color: #185db8;
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}
p class{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  padding-left: 100px;
  padding-right: 100px;
  border-style: double;
   }

img {

  display: block;

  margin-left: auto;

  margin-right: auto;

}
section{
background-color:#7CAD3D;
color:#FAFAFA;
font-family:'veranda';
  font-size: medium;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;

}

ul
{
    font-size: medium;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

button{
  font-size: medium;
  text-align: left;
  padding-left: 20px;
  padding: right 20px;
  position:center;
}


